[user]
	name = Ben Gillies
	email = bengillies@gmail.com

[core]
	excludesfile = /Users/bengillies/.gitignore
	pager = less -r

[alias]
	c = commit
	st = status
	df = diff -w --word-diff=color
	co = checkout
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	last = log --oneline -10
	amend = commit --amend --no-edit
	last-branch = log --oneline -10 master..
	diff-branch = diff --color -w master..


[color]
	branch = auto
	diff = auto
	status = auto

[color "status"]
	untracked = yellow

[merge]
	tool = gitmerger

[mergetool "gitmerger"]
	cmd = gitmerger vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
[push]
	default = matching

# use https instead of git when the git protocol is blocked by the firewall
[url "https://github.com"]
	insteadOf = git://github.com

[credential]
	helper = osxkeychain
