.vim/.netrwhist
.vim/bundle
upload-db
.*.swp
.DS_Store
.swp
.swo
.*.swn
.swn
.lein/repl-history
.lein/self-installs
bin/irc-proxy
.*.swo
.idea
.lein-repl-history
node_modules
.envrc
.vectorcode
.aider.*
PLAN.md
CONTEXT
.worktrees
