[user]
	name = Ben Gillies
	email = bengillies@gmail.com

[core]
	excludesfile = /Users/bengillies/.gitignore

[alias]
	c = commit
	st = status
	df = diff
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --


[color]
	branch = auto
	diff = auto
	status = auto

[color "status"]
	untracked = yellow

[merge]
	tool = gitmerger

[mergetool "gitmerger"]
	cmd = gitmerger vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
