[user]
	name = Ben Gillies
	email = bengillies@gmail.com

[core]
	excludesfile = /Users/bengillies/.gitignore

[color]
	branch = auto
	diff = auto
	status = auto

[color "status"]
	untracked = yellow
